# NuGet Packages Directory
packages

# VsCode
.vscode

# Visual Studio
.vs
obj
bin

# Build Results
build-Results

# Packaging Directory
package

# Tools pulled from nuget
tools

# Draft GitHub Release
DraftRelease.md
